body{
  background: #ededed;
}
.navbar {
  background: #c8c8c8;
}
.nav-link{
  color: #11661c;
  margin-right: 1em !important;
  font-weight: bold;
}
.navbar-brand{
  color: #11661c;
}
.nav-link:hover{
  color: #60d151;
}
.navbar-collapse {
  justify-content: flex-end;
}
