<form action="/search/" method="post">
{% csrf_token %}
{% for field in form %}
  <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
  </div>
{% endfor %}
<input type="submit" value="Submit">
</form>
<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  {% for business in businesses %}
  <tr>
    <td>{{business.name}}</td>
    <td>{{business.description}}</td>
  </tr>
  {% empty %}
  <tr>
    <td>"Sorry, no businesses found."</td>
  </tr>
  {% endfor %}
</table>